# Unreal build junk
.github/
.vs/
Binaries/
Content/
Intermediate/
DerivedDataCache/
Saved/
*.uasset
Scripts/
WORKING/

# IDE
.vs/
.vscode/
*.sln
*.vcxproj*
*.user
*.log

# OS
Thumbs.db
.DS_Store
*.zip
/Plugins/KibibyteLabs
/BlueprintExports
/BEP_EXPORT_CGF_ParkourComp
/Plugins/Able
/Plugins/GASP
/Plugins/New folder
/BEP_EXPORTS/OLDER_BEFORE_PATH_CHANGE
/.venv_mcp
/BUILD
*.lnk
/DevTools/python/ffmpeg
